<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <commands>

        </commands>
        <dataExchange>
            <projectBuilder type="Sitecore.DataExchange.ProjectBuilder.ItemModelProjectBuilder, Sitecore.DataExchange.ProjectBuilder">
                <projectTemplate ref="projectTemplates/projectTemplate[@default='true']"/>
            </projectBuilder>

            <projectTemplates>
                <projectTemplate default="true" projectName="Create new Provider" version="1.0" typy="Sitecore.DataExchange.ProjectBuilder.ItemModelProjectTemplate, Sitecore.DataExchange.ProjectBuilder">
                    <itemModelGroup groupName="Templates" type="Sitecore.DataExchange.ProjectBuilder.ItemModelGroup, Sitecore.DataExchange.ProjectBuilder" >
                        <itemModels>
                            <itemModel ItemName="MyProvider" ParentID="{EBAF3CA0-CC01-4A08-9A98-B183A060F51E}" TemplateID="{0437FEE2-44C9-46A6-ABE9-28858D9FEE8C}">
                                <itemModel ItemName="Data Access" TemplateID="{0437FEE2-44C9-46A6-ABE9-28858D9FEE8C}">
                                    <itemModel ItemName="Applay Mapping Rules" TemplateID="{0437FEE2-44C9-46A6-ABE9-28858D9FEE8C}"/>
                                    <itemModel ItemName="Mapping Applied Actions Rules" TemplateID="{0437FEE2-44C9-46A6-ABE9-28858D9FEE8C}"/>
                                </itemModel>
                                <itemModel ItemName="Endpoints" TemplateID="{0437FEE2-44C9-46A6-ABE9-28858D9FEE8C}"/>
                                <itemModel ItemName="Queues" TemplateID="{0437FEE2-44C9-46A6-ABE9-28858D9FEE8C}"/>
                                <itemModel ItemName="Folders" TemplateID="{0437FEE2-44C9-46A6-ABE9-28858D9FEE8C}">
                                    <itemModel ItemName="MyProvider Apply Mapping Rules Root" TemplateID="{AB86861A-6030-46C5-B394-E8F99E8B87DB}" ItemIcon="Office/32x32/folder_open.png"/>
                                    <itemModel ItemName="MyProvider Endpoints Root" TemplateID="{AB86861A-6030-46C5-B394-E8F99E8B87DB}" ItemIcon="Office/32x32/folder_open.png"/>
                                </itemModel>
                            </itemModel>
                        </itemModels>
                    </itemModelGroup>

                    <itemModelGroup groupName="Branches" type="Sitecore.DataExchange.ProjectBuilder.ItemModelGroup, Sitecore.DataExchange.ProjectBuilder">
                        <itemModels>
                            <itemModel ItemName="" ParentID="" TemplateID=""/>
                            <itemModel ItemName="" ParentID="" TemplateID=""/>
                            <itemModel ItemName="" ParentID="" TemplateID=""/>
                        </itemModels>
                    </itemModelGroup>
                </projectTemplate>
            </projectTemplates>
        </dataExchange>
        
        <pipelines>

        </pipelines>
    </sitecore>
</configuration>